@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: "Poppins", sans-serif; */
.dashboard-container {
  display: flex;
  gap: 0.7rem;
  height: 94%;
  width: 100%;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}
.dashboard-container .overview-container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  height: 100%;
  width: 68%;
}
.dashboard-container .overview-container div {
  border-radius: 0.5rem;
}
.dashboard-container .overview-container .sales-overview {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 16vh;
  width: 100%;
  padding: 1rem;
}
.dashboard-container .overview-container p {
  color: #292929;
  font-size: 0.9rem;
  font-weight: 600;
}
.dashboard-container .overview-container .img-details-container {
  display: flex;
  flex-wrap: wrap;
  height: 72%;
  width: 100%;
  justify-content: space-between;
}
.dashboard-container
  .overview-container
  .img-details-container
  .img-and-details {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  height: 100%;
  width: 7.2rem;
  padding-top: 0.4rem;
}
.dashboard-container
  .overview-container
  .img-details-container
  .img-and-details
  img {
  height: 1.3rem;
}
.dashboard-container
  .overview-container
  .img-details-container
  .img-and-details
  .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.4rem;
  width: 100%;
}
.dashboard-container
  .overview-container
  .img-details-container
  .img-and-details
  p {
  color: #292929;
  font-size: 0.7rem;
}
.dashboard-container
  .overview-container
  .img-details-container
  .img-and-details
  span {
  color: #292929;
  font-size: 0.9rem;
  font-weight: 600;
}
.dashboard-container .overview-container .purchase-overview {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 16vh;
  width: 100%;
  padding: 1rem;
}
.dashboard-container .overview-container .sales-and-purchase {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
  height: 53vh;
  width: 100%;
}
.dashboard-container .overview-container .sales-and-purchase div {
  position: relative;
  width: 100%;
}
.dashboard-container .overview-container .sales-and-purchase div img {
  position: absolute;
  right: 10.5rem;
  top: 0.1rem;
  z-index: 9;
}

.dashboard-container .overview-container .sales-and-purchase span {
  font-size: 1rem;
}
.dashboard-container select {
  position: absolute;
  right: 5rem;
  top: -0.2rem;
  outline: none;
  padding: 0.3rem 2rem;
  color: #7f8695;
  -webkit-appearance: none; /* Safari/Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none;
  border-radius: 0.5rem;
  border: 0.2rem solid #f1f1f3;
}

/* .dashboard-container .overview-container .sales-and-purchase div{

    display: flex;
} */

.dashboard-container .summary-container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  height: 100%;
  width: 35%;
}
.dashboard-container .summary-container p {
  color: #292929;
  font-weight: 600;
  font-size: 0.9rem;
}
.dashboard-container .summary-container div {
  border-radius: 0.7rem;
}
.dashboard-container .summary-container .inventory-summary {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 16vh;
  width: 100%;
  padding: 0.6rem;
}
.dashboard-container .summary-container .img-details-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80%;
}
.dashboard-container .summary-container .img-details-container .img-details {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 6rem;
  height: 80%;
}
.dashboard-container
  .summary-container
  .product-summary
  .img-details-container
  .img-details {
  padding-top: 0.3rem;
}
.dashboard-container
  .summary-container
  .img-details-container
  .img-details
  img {
  height: 1.3rem;
}
.dashboard-container
  .summary-container
  .img-details-container
  .img-details
  span {
  font-size: 0.8rem;
  font-weight: 600;
}

.dashboard-container .summary-container .img-details-container .img-details p {
  color: #292929;
  font-size: 0.7rem;
}
.dashboard-container .summary-container .product-summary {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: white;
  height: 16vh;
  width: 100%;
}
.dashboard-container .summary-container .top-product {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  background-color: white;
  gap: 0.6rem;
  height: 53vh;
  width: 100%;
}
.dashboard-container .summary-container .top-product p {
  font-size: 0.7rem;
  font-weight: 700;
}
.dashboard-container .summary-container .top-product .products_container {
  height: 90%;
  width: 100%;
}
.dashboard-container .summary-container .top-product .products_container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  height: 90%;
  width: 100%;
}
.dashboard-container
  .summary-container
  .top-product
  .products_container
  .product {
  display: flex;
  gap: 0.2rem;
  height: 15%;
  width: 100%;
}
.dashboard-container
  .summary-container
  .top-product
  .products_container
  .product
  .name_img {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  height: 100%;
  width: 40%;
}
.dashboard-container
  .summary-container
  .top-product
  .products_container
  .product
  .name_img
  .name {
  font-size: 0.7rem;
}
.dashboard-container
  .summary-container
  .top-product
  .products_container
  .product
  .name_img
  img {
  height: 2rem;
}
.dashboard-container
  .summary-container
  .top-product
  .products_container
  .product
  .rating {
  height: 100%;
  display: flex;
  gap: 0.1rem;
  justify-content: center;
  align-items: center;
}
.dashboard-container
  .summary-container
  .top-product
  .products_container
  .product
  .rating
  .rectangle {
  background-color: #fad85d;
  height: 0.3rem;
  width: 0.6rem;
}
/* .container {
  display: flex;
  gap: 20px;
  padding: 20px;
} */

/* .left, .right {
  flex: 1;
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 10px;
  min-height: 200px;
} */

/* .dragItem {
  background: #4f9df7;
  color: #fff;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: grab;
  transition: transform 0.2s ease; 
} */

/* .dragItem:active {
  cursor: grabbing;
  opacity: 0.7;
} */

/* .dropZone {
  min-height: 100px;
} */
/* .container {
  display: flex;
  gap: 20px;
  padding: 20px;
} */

/* .left, .right {
  flex: 1;
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 10px;
  min-height: 200px;
} */

/* .dragItem {
  background: #4f9df7;
  color: #fff;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: grab;
  transition: transform 0.2s ease;
} */

/* .dragItem:active {
  cursor: grabbing;
  opacity: 0.6;
} */

@media (max-width: 430px) {
  .dashboard-container {
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    gap: 8.5rem;
    height: 100%;
    width: 100%;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 4rem;
  }
  .dashboard-container .overview-container {
    /* height: 100%; */
    width: 100%;
  }
  .dashboard-container .overview-container .sales-overview {
    /* background-color: white; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    height: 28vh;
    width: 100%;
    padding: 0.6rem 1.8rem;
  }
  .dashboard-container .overview-container .img-details-container {
    height: 85%;
    width: 100%;
    justify-content: space-between;
  }
  .dashboard-container
    .overview-container
    .img-details-container
    .img-and-details {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    height: 50%;
    width: 6.2rem;
    padding-top: 0.4rem;
  }
  .dashboard-container .overview-container .purchase-overview {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 28vh;
    width: 100%;
    padding: 0.6rem 1.8rem;
  }
  .dashboard-container .summary-container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    height: 100%;
    width: 100%;
    /* margin-bottom: 10rem;     */
  }
  .dashboard-container .summary-container .inventory-summary {
    height: 25vh;
    width: 100%;
    padding: 0.6rem 1.8rem;
  }
  .dashboard-container .summary-container .img-details-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .dashboard-container .summary-container .img-details-container .img-details {
    padding-top: 0.7rem;

    width: 6rem;
    height: 90%;
  }
  .dashboard-container .summary-container .product-summary {
    height: 25vh;
  }
}
